/* @media screen and (min-width: 320px),(max-width: 425px) {  
margin: 1em 1em; 
} */
@media screen and (max-width: 425px) {
    .commentaire {
        column-count: 1;
    }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    background-color: gold;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gold;
}

table {
    /* display: flex; */
    /* justify-content: center; */
    /* justify-self: center; */
    
    width: 40px;
    height: 40px;
}